html {
  overflow-y: auto;
}
body {
  background-image: url("crop_yield.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: yellow;
}

.output {
  font-size: 24px;
  color: yellow;
  border-radius: 1em;
  padding: 1em;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
}
table,
tr,
td {
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}
h1 {
  font-size: 40px;
  font-family: monospace;
  text-align: center;
}
.results {
  color: rgb(0, 255, 0);
  overflow-y: auto;
  height: 600px;
  width: 500px;
}
