<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Crop Yield Prediction</title>
    <h1>Crop Yield Prediction</h1>
  </head>
  <body>
      <section>
      <form>
        <br><label for="stateName">Choose a State:</label>
        <select name="stateName" id="stateName" onChange="stateSelected()"></select></br>
        <br><label for="districtName">Choose a District:</label>
        <select name="districtName" id="districtName"></select></form></br>
        <br><label for="crop">Choose a Crop:</label>
        <select name="crop" id="crop"></select></br>
        <br><label for="season">Choose a Season:</label>
        <select name="season" id="season"></select></br>
        <br><label for="year">Year:</label>
        <input type="text" name="year" id="year" value="2022"></br>
        <button onClick="predict()">Submit</button>
      </form>
      <p>top 3 crops along with yield in tonnes/hectare ⬇️⬇️</p>
      <p id="results">Submit the Form to get Results 😎 </p>
      </section>
  </body>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
